<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>a0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0001</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0002</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0003</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0004</key>
			<dict>
				<key>frame</key>
				<string>{{332,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0005</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0007</key>
			<dict>
				<key>frame</key>
				<string>{{83,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0008</key>
			<dict>
				<key>frame</key>
				<string>{{166,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0009</key>
			<dict>
				<key>frame</key>
				<string>{{249,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0010</key>
			<dict>
				<key>frame</key>
				<string>{{332,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0011</key>
			<dict>
				<key>frame</key>
				<string>{{415,85},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0013</key>
			<dict>
				<key>frame</key>
				<string>{{83,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0014</key>
			<dict>
				<key>frame</key>
				<string>{{166,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0015</key>
			<dict>
				<key>frame</key>
				<string>{{249,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0016</key>
			<dict>
				<key>frame</key>
				<string>{{332,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0017</key>
			<dict>
				<key>frame</key>
				<string>{{415,170},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0019</key>
			<dict>
				<key>frame</key>
				<string>{{83,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0020</key>
			<dict>
				<key>frame</key>
				<string>{{166,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0021</key>
			<dict>
				<key>frame</key>
				<string>{{249,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0022</key>
			<dict>
				<key>frame</key>
				<string>{{332,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0023</key>
			<dict>
				<key>frame</key>
				<string>{{415,255},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0025</key>
			<dict>
				<key>frame</key>
				<string>{{83,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0026</key>
			<dict>
				<key>frame</key>
				<string>{{166,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0027</key>
			<dict>
				<key>frame</key>
				<string>{{249,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0028</key>
			<dict>
				<key>frame</key>
				<string>{{332,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>a0029</key>
			<dict>
				<key>frame</key>
				<string>{{415,340},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,85}}</string>
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>L005Animation.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>L005Animation.png</string>
		</dict>
	</dict>
</plist>
